@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,800;1,500&display=swap');

*{
    margin: 0;
    user-select: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}
:root{
    --white:#fff;
    --onion: purple;
    --blue:rgb(33, 0, 221);
    --black:black;
    --box-shadow: 6px 2px 8px rgb(8, 4, 4);
    --background:rgba(219, 170, 170, 0.6);
    --background_page: rgb(122, 112, 123);
    --general_btn:rgb(88, 20, 88);
    --overCard:rgba(7, 6, 6, 0.5);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
/* .body-things{
    background-image: url(talimage/x-bed1.jpeg);
    background-size:cover;
    background-position: center;
    height: 1000px;
} */
.background{
    background:rgba(7, 3, 3, 0.808);
}
.header{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content:space-around;
    align-items:flex-end;
    padding: 2rem 0;
    background-color:var(--background);
    box-shadow: var(--box-shadow);
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
} 

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color: var(--white);
    font-weight: bold;
}

.header .navbar a:hover{
    /*color:var(--blue);*/
    color: var(--onion);
}

.header .icon div{
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
    margin: 0 .5rem;
    border-radius:5px;
    background: rgba(243, 241, 241, 0.5);
    color:var(--white);
    font-size: 2rem;
    text-align: center;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.header .icon div:hover{
    background: var(--onion);
    color: var(--white);
    cursor: pointer;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 4.5rem;
    padding: 7px;
    background:var(--background_page);
    border-radius: 5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -o-border-radius: 5rem;
}
.header .search-form.active {
    right: 1.5rem;
    transition:.4s linear;
    -webkit-transition:.4s linear;
    -moz-transition:.4s linear;
    -ms-transition:.4s linear;
    -o-transition:.4s linear;
    -webkit-transition:.4s linear;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    padding: 0 1.5rem;
    color: var(--white);
    font-weight: bold;
    border: none;
}
.header .search-form input:focus{
    outline: none;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--white);
}

.header .search-form label:hover{
    cursor: pointer;
}

/*..................CART PAGE STYLING.................*/
/* .header .cart-container{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: auto;
    padding: 5px;
    background: var(--background_page);
    border-radius: .5rem;
    overflow: hidden;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
} */
/* .header .cart-container.active{
    right: 2rem;
    transition: .4s linear;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;
    -o-transition: .4s linear;
}
.header .cart-container .cart-rows{
    display: flex;
    border-bottom: 2px solid var(--white);
    justify-content: space-between;
    padding: 5px 15px 5px 5px;
} */
/* .header .cart-container .cart-rows .cart-item{
    color: var(--white);
    font-size: 12px;
}

.header .cart-container .cart-rows .item-first{
    flex-basis: 25%;
    margin-left: 15px;
}

.header .cart-container .cart-rows .item-second{
    flex-basis: 10%;
} */

/* .header .cart-container .cart-rows .item-third{
    flex-basis: 30%;
}
.header .cart-items .cart-row{
    display: flex;
    height: 8rem;
    justify-content: space-between;
    padding: 5px;
}
.header .cart-container .cart-items .cart-row{
    border-bottom: 2px solid var(--white);
}
.header .cart-container .cart-items .cart-row .cart-item .cart-item-image{
    max-width: 60px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.header .cart-container .cart-items .cart-row .cart-item{
    display:grid;
    width: 120px;
}
.header .cart-container .cart-items .cart-row .cart-item-title{
    color: var(--white);
    align-self: center;
    font-size: 15px;
} */
/* .header .cart-container .cart-items .cart-row .cart-price{
    color: var(--white);
    margin-top: 15px;
    font-size: 15px;
    text-align: center;
    flex: 2;
    padding: 10px;
}
.header .cart-container .cart-items .cart-row .cart-quantity-input{
    width: 60px;
    height: 30px;
    text-align: center;
}
.header .cart-container .cart-items .cart-row .cart-quantity{
    display: flex;
    margin-top: 18px;
    gap: 35px;
} */
/* .header .cart-container .cart-items .cart-row .btn-danger{
    float: right;
    border: none;
    height: 32px;
    padding: 10px;
    background: red;
    color: var(--white);
}
.header .cart-container .cart-items .cart-row .btn-danger:hover{
    cursor: pointer;
    background: rgb(228, 55, 55);
}
.header .cart-container .cart-total{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    margin-right: 10px;
}
.header .cart-container .cart-total .cart-total-title{
    color: var(--white);
    font-size: 20px;
}
.header .cart-container .cart-total .cart-total-price{
    padding-left: 5px;
    color: var(--white);
    font-size: 20px;
} */
/* .purchase{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}
.btn-purchase{
    padding: 15px;
    font-size: 15px;
}

.header .login{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 110%;
    right: -110%;
    width: 30rem;
    padding: 2rem;
    text-align: center;
    background: var(--background_page);
    border-radius: .5rem;
    overflow: hidden;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
} */

/* .header .login.active{
    right: 2rem;
    transition: .4s linear;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;
    -o-transition: .4s linear;
}

.header .login h3{
    font-size: 2rem;
    text-transform: uppercase;
}

.header .login .input-data{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    text-transform: none;
    border: none;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.header .login p{
    font-size: 1.4rem;
    padding: 1rem 0;
    text-align: center;
} */

/* .header .login p a{
    text-decoration: underline;
}
.header .login .btn{
    padding: 10px;
    width: 15rem;
    font-size: 1.8rem;
}

.welcome-card{
    justify-content: center;
    z-index: 1005;
    width: 300px;
    background-color:rgba(5, 5, 5, 0.5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.welcome{
    font-size: 18px;
    color: white;
    line-height: 1.5;
} */

/******Scrolling Image on Homepage******/
.Scroll-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}

#card{
    position: relative;
    overflow: hidden;
    margin:20px;
    width: min(700px, 90%, 220px);
    height: max(300px, 90%, 40vh);
    border-radius: 8px 8px 6px 6px;
    box-shadow: var(--box-shadow);
    -webkit-border-radius: 8px 8px 6px 6px;
    -ms-border-radius: 8px 8px 6px 6px;
    -o-border-radius: 8px 8px 6px 6px;
    background-color: #fff;
    -moz-border-radius: 8px 8px 6px 6px;
}
.Scroll-container #card .shop-image{
    width: 100%;
}

/***************Home page image Info****************/
/* .infoCard {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
} */

.Scroll-container .info {
    position:absolute;
    bottom:0;
    left: -90%;
    width:100%;
    height: 100%;
    display: grid;
    align-items: flex-end;
    background-color:var(--overCard);
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}

#card:hover .info {
    left:0;
}
/* .Scroll-container #card .clear{
    float: left;
    margin: 5px 5px 5px 8px;
    font-size: 15px;
    color: var(--black);
    font-weight: bolder;
    padding-bottom: 5px;
} */
.Scroll-container #card .price{
    float: right;
    margin: 5px 8px 5px 5px;
    color: var(--black);
    font-size: 15px;
    font-weight: bolder;
    text-decoration: underline gainsboro;
}

.Scroll-container #card .image-setting {
    border-radius: 8px 8px 0 0;
    height: 200px;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
}

/*Decision on cards*/
.Scroll-container #card .btn-host{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    gap: 10px;
    margin: 32px 8px auto;
    bottom: 0;
    padding-bottom: 10px;
}
.btn-host .buy-btn{
    padding: 10px;
}
.btn-host .cart-btn{
    padding:10px;
}
.btn{
    font-weight: bold;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn:hover{
    transition: .4s ease-out;
    background-color: var(--general_btn);
    color: #fff;
    box-shadow: 0 2px 2px rgb(173, 172, 172) ;
    -webkit-transition: .4s ease-out;
    -moz-transition: .4s ease-out;
    -ms-transition: .4s ease-out;
    -o-transition: .4s ease-out;
}

/*responsiveness for header items*/
@media (max-width: 991px) {
    html{
        font-size: 55%;
    }
    .header .cart-container .cart-items .cart-row .btn-danger{
        float: right;
        border: none;
        height: 32px;
        padding: 10px;
        background: red;
        color: var(--white);
    }

    .Scroll-container{
        margin-top:20%;
    }

    .header {
        padding: 2rem;
    }
}

@media (max-width: 700px) {
    .welcome-card{
        margin-top: 100px;
    }

    #menu-btn{
        display: block;
    }
    
    .header .navbar a{
        margin: 2rem 2.5rem;
        display: block;
    }
    #menu-btn{
        display: inline-block;
    }
    /*.Scroll-container{
        margin-top:10%;
    }*/

    .header .search-form{
        width: 90%;
    }

    .header .cart-container{
        width: 80%;
    }
    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        background: var(--background_page);
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
    }

    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;
        -webkit-transition: .4s linear;
        -moz-transition: .4s linear;
        -ms-transition: .4s linear;
        -o-transition: .4s linear;
    }
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}

@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
    .header .cart-container .cart-rows .cart-header{
       font-size: 10px;
    }
    .header .cart-container .cart-rows .item-first{
        flex-basis: 48%;
    }
    
    .header .cart-container .cart-rows .item-second{
        flex-basis: 23%;
    }
    .header .cart-container .cart-rows .item-third{
        flex-basis: 40%;
    }
    .header .cart-container .cart-items .cart-row .cart-item{
        width: 100px;
    }
    .header .cart-container .cart-items .cart-row .cart-item .cart-item-image{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .header .cart-container .cart-items .cart-row .cart-item-title{
        font-size: 10px;
    }
    .header .cart-container .cart-items .cart-row .cart-price{
        margin-top: 5px;
        font-size: 10px;
        padding: 10px 10px 10px 2px;
    }

    .header .cart-container .cart-total .cart-total-title, .cart-total-price{
        font-size: 15px;
    }
    .header .cart-container .cart-total .cart-total-price{
        font-size: 15px;
    }
    .header .cart-container .cart-items .cart-row .cart-quantity{
        margin-top: 10px;
        gap: 5px;
    }
    .header .cart-container .cart-items .cart-row .cart-quantity-input{
        width: 40px;
        height: 20px;
        text-align: center;
        font-size: 10px;
    }
    .header .cart-container .cart-items .cart-row .btn-danger{
        padding: 2px;
        height: 20px;
        border-radius: 4px;
        width: 45px;
        font-size: 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
}

/*Card responsive display on small device*/
@media (max-width:700px) {
    
    .Scroll-container #card {
        margin: 10px;
        height:auto;
        width: 100%;
    }

    .Scroll-container > #card > .shop-image{
        width: 100%;
        height: auto;
    }
    .image-setting{
        border-radius: 8px;
    }
    .Scroll-container #card .btn-host > .price{
        color: var(--white);
        font-size: 18px;
        font-weight: bolder;
        text-align: center;
        text-decoration:overline underline gainsboro;
    }
}

/*Home page welcome text */
/*@media screen and (max-width:700px){
    .welcome-card{
        width: 300px;
        height: auto;
        float:left;
        margin: 0 8px;
        font-size: 16px;
        color: white;
    }
}*/

/*About page*/
.about-site{
    color: aliceblue;
}

/*contacts page*/
.row:after {
    content:"";
    display: table;
    clear: both;
}

.column{
    float: left;
    margin-bottom: 16px;
}

.side {
    width:20%;
    background-color: crimson;
}

.middle {
    width: 60%;
}
/* .shop-image{
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
} */
.person{
    display:inline-block;
}
.personprofile {
    text-align: center;
    padding: 15px;
}
.About-card{
    width:90%;
    height: 50%;
    padding: 20px;
    background:var(--background2);
    margin:35px 15px;
    border-radius:10px;
}
ul{
    line-height:1.5;
    padding-left:10px;
}
.person-card{
    width: 350px;
    display:inline-block;
    background-color: aliceblue;
    margin: 35px 15px;
    border-radius:10px;
}
.fad{
    color: black;
}

@media screen and (max-width:800px){
    .middle{
        width:100%;
    }
    .shop-image{
        width: 100%;
    }
    .person-card{
        width: 80%;
        background-color: aliceblue;
        margin: 35px 35px;
        border-radius:10px;
    }
    .About-card{
        width:80%;
        height: auto;
        padding: 10px 5px 5px 18px;
        margin:10px;
    }
}

@media(min-width:900px){
    .header .cart-container .cart-row{
        display: flex;
    }
    .header .cart-container .cart-total{
        display: flex;
        padding-left: 5px;
        color: var(--white);
        font-size: 20px;
    }
}

