@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,800;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    user-select: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

:root {
    --white:#fff;
    --AlphaWhite: rgba(255, 255, 255, 0.3);
    --onion: purple;
    --blue: rgb(33, 0, 221);
    --black: black;
    --box-shadow: 6px 2px 8px rgb(8, 4, 4);
    --background: rgba(219, 170, 170, 1);
    --background_page: rgb(122, 112, 123);
    --general_btn: rgb(88, 20, 88);
    --overCard: rgba(7, 6, 6, 0.5);
    --mainColor: #34495e;
    --mainColorReflection:rgb(52, 73, 94, 0.8);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

/**********MENU STYLING**********/
nav {
    width: 100%;
    height: 80px;
    background: var(--background);
    position: relative;
    position: fixed;
    z-index: 1111;
    top: 0;
}

/* LOGO ON NAVBAR */
nav .logo {
    line-height: 80px;
    padding: 0 10px;
    color: var(--onion);
    font-size: 2em;
    font-weight: bolder;
}

/* RESPONSIVE NAVIGATION ICONS WITH SHOPPING CART */
nav .responsiveMenuBtn {
    display: flex;
    margin-left: 3em;
    line-height: 80px;
}

nav .fas {
    padding: 8px;
    width: 1.5em;
    height: 1.5em;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: var(--mainColor);
}

nav .fas:hover {
    background-color: var(--AlphaWhite);
    color: aliceblue;
}

nav .fa-bars  {
    display: none;
}

nav .fa-window-close {
    display: none;
}

nav .userIn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25em;
    line-height: 80px;
    position: absolute;
    top: 0;
}

/* CART FUNCTION DISPLAY */
nav .cart-container {
    line-height: 50px; 
    position: absolute;
    right: 23em;
    top: 20px;
}

nav .icon-cart {
    position: relative;
}

nav .icon-cart > span {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: var(--onion);
    justify-content: center;
    align-items: center;
    color: var(--white);
    position: absolute;
    border-radius: 50%;
    top: 48%;
    right: 0px;
}

/* MENU LIST ON LAPTOP SCREEN */
nav ul {
    float: right;
    margin-right: 30em;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin:0 2em;
}

nav ul li a {
    font-size: 1.2em;
    text-transform: uppercase;
    color: var(--onion);
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

nav ul li a:hover {
    background-color: var(--white);
}

/* PRODUCTS DROPDOWN STYLING SECTION */
nav ul div {
    position: relative;
    display: inline-block;
    line-height: 80px;
    margin:0 5em;
}

nav ul div .drop:hover {
    background-color: var(--white);
}

nav ul div .drop {
    font-size: 1.2em;
    text-transform: uppercase;
    color: var(--onion);
    padding: 12px 20px;
    border-radius: 0;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

nav ul div .dropdown_menu {
    position: absolute;
    top:60px;
    min-width: 180px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--onion);
    z-index: 1;
    overflow: hidden;
    left: -800%;
    transition: all 1s;
}

nav ul div .dropdown_menu a{
    display: block;
    padding: 2px 16px;
    color: var(--white);
    font-size: 1.7em;
}

nav ul div .dropdown_menu a:hover {
    background-color: var(--white);
    color: var(--onion);
    border-radius: 0;
}

nav ul div:hover .dropdown_menu{
    left: -50px;
}

/*****************************************************/
/*SEARCH SPACE*/
/*****************************************************/

nav #search-btn {
    position: absolute;
    right: 20px;
    top: 20px;
}
input[type=text] {
    width: 110px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px;
    color: var(--mainColor);
    background-image: url(image/search.jpg);
    background-position: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border-radius:0.5em;
    transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -ms-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    outline: 1px solid var(--mainColor);
    width: 380px;
}


/* CART WINDOW PAGE DESIGN */
.cart-window {
    width: 350px;
    height: 79svh;
    background-color: var(--background_page);
    color: var(--white);
    position: fixed;
    inset: 80px -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: all 1s;
}

body.showCart .cart-window{
    inset: 80px 0 0 auto;
}

body.showCart .mainContainer{
   transform: translateX(-150px);
}

.cartListItems {
    overflow: auto;
}

.cartListItems::-webkit-scrollbar{
    width: 0;
}
.cart-window h1 {
    padding: 20px;
    margin: 0;
    font-weight:300;
    color: var(--white);
    text-transform: uppercase;
}

/* CART SHOPPING CONTAINER ITEMS */
.cart-window .cartListItems >.item .cart-image img {
    width: 100%;
}

.cart-window .cartListItems {
    border-top:2px solid #4e4d4d;
    
}

.cart-window .cartListItems .item{
    display: grid;
    grid-template-columns: 60px 140px 30px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    font-size: 1.4em;
}

.cart-window .cartListItems .item:nth-child(even) {
    background-color: #4e4d4d;
}

.cart-window .cartListItems .item .cart-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40px;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid white;
    margin: 5px;
}

.cart-window .cartListItems .item .cart-image > img{
    width: 42px;
    height: 34px;
}

.cart-window .cartListItems .item .cart-item-name {
    word-wrap: break-word;
}

.cart-window .cartListItems >.item > .cart-item-quantity {
    display: flex;
    gap: 10px;
}
.cart-window .cartListItems >.item > .cart-item-quantity > span {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 15px;
    height: 10px;
    color: aliceblue;
    cursor: pointer;
    background-color: #eeee;
}

.cart-window .cartListItems >.item > .cart-item-quantity > .plus {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.cart-window .cartListItems >.item > .cart-item-quantity > .minus {
    clip-path: polygon(50% 100%, 100% 0, 0 0 );
}

.cart-window .cartListItems >.item > .cart-item-quantity > span:nth-child(2) {
    background-color: transparent;
    color: aliceblue;
}
.cart-window .cartBtn {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    /* bottom: 0;
    position: absolute;
    width: 100%; */
}

.cart-window .cartBtn button {
    background-color: rgb(90, 235, 90);
    border: none;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 2em;
    /* padding: 0;
    height: 50px; */
}
.cart-window .cartBtn .cartPaymentBtn {
    background-color: green;
}
.cart-window .cartBtn button:hover {
    border:2px solid var(--white);
    color: white;
}

.cart-window .cartBtn .cart-closeBtn {
    background: var(--AlphaWhite);
}

.cart-window .cartBtn .cart-closeBtn:hover {
    background: rgb(231, 15, 15);
    color: var(white);
}


/* MAIN DISPLAY  */
.mainContainer {
    display: flex;
    flex-wrap:wrap ;
    margin: auto;
    gap: 20px;
    transition: transform 1s;
    padding: 10em 0;
    width: 900px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/******SCROLLING IMAGE ON HOME PAGE******/

.card {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 172px;
    padding: 0;
    border-radius: 8px 8px 6px 6px;
    box-shadow: var(--box-shadow);
    -webkit-border-radius: 8px 8px 6px 6px;
    -ms-border-radius: 8px 8px 6px 6px;
    -o-border-radius: 8px 8px 6px 6px;
    background-color: #fff;
    -moz-border-radius: 8px 8px 6px 6px;
}

.card .image-setting {
    width: 100%;
    height: 180px;
}

/*************** HONE PAGE ITEMS ****************/
.card .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--overCard);
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}

.card:hover .info {
    left: 0;
}

.info h3, h2 {
    color: var(--white);
    position: relative;
    margin-bottom: 2px;
}

.info h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: var(--white);
    height: 2px;
    box-sizing: border-box;
    width: 25px;
}

.info .more_action {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 7px;
    position: absolute;
    gap: 8px;
}

.info .product_glance {
    width: 100%;
    height: 20px;
    color: var(--white);
    font-size: 13px;
    padding: 0 1px;
}

.info .title_btn .more_action i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 25px;
    text-align: center;
    color: var(--white);
    font-size: 16px;
    /* padding: 0 8px; */
    border-radius: 4px;
    transition: all 0.5s ease-in;
    border-bottom: 1px solid var(--white);
}

.info .title_btn .more_action i:hover {
    cursor: pointer;
    color: var(--white);
    background: gray;
    border: 1px solid white;
    box-shadow: 1px 2px rgba(189, 161, 161, 0.3);
}

.info .clear {
    font-size: 12px;
    color: var(--white);
    font-weight: bolder;
    padding-bottom: 5px;
}

/*********** IMAGE MODAL BOX ***********/
/* .modalBoxForEachImage {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 12222222222222222222222;
    margin: auto;
    background: white;
    transform:scaleX(1);
    transition: transform 0.5s;
}

.modalBoxForEachImage .innerModalBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    height: 40%;
    width: 90%;
    gap: 0.5rem;
}

.modalBoxForEachImage .innerModalBox span {
    width: 4em;
    height: 4em;
    position: absolute;
    margin: 2em;
}

.modalBoxForEachImage .innerModalBox span .fa-xmark {
    color: rgb(10, 10, 10);
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    cursor: pointer;
    border-radius: .2em;
    background: rgba(10, 10, 10, 0.1);
    transition: all 0.5s;
}

.modalBoxForEachImage .innerModalBox span .fa-xmark:hover {
    background: rgba(10, 10, 10, 0.5);
    color: white;
}

.modalBoxForEachImage .innerModalBox .imageItem {
    border: 1px #34495e solid;
}

.modalBoxForEachImage .innerModalBox .imageItem img {
    width: 100%;
}

.modalBoxForEachImage .innerModalBox .actionDecision {
    border: 1px #34495e solid;
    padding: 10rem 5rem 0 3rem;
}

.modalBoxForEachImage .innerModalBox .actionDecision table tr td {
    padding: 1rem;
    font-size: 1.5em;
    width: 30%;
}

.modalBoxForEachImage .innerModalBox .actionDecision>table tr .description {
    width: 100%;
} */

/* #modalBoxForEachImage .innerModalBox .actionDecision table tr .btnContainer {

 } */

.modalBoxForEachImage .innerModalBox .actionDecision table tr td .btn {
    width: 10rem;
    margin-right: 1rem;
    padding: 0.5rem;
    outline: none;
}

/****** INDEX PAGE LAYOUT *******/
footer {
    background: var(--mainColor);
    width: 100%;
    bottom: -25%;
    position: fixed;
    transition: all 0.8s ease;
}

footer:hover {
    bottom: 0;
}

.content-wrapper {
    display: flex;
    color: var(--white);
    font-size: 18px;
    padding: 15px 5px;
}

.footer_tabs {
    width: 25%;
    padding: 0 15px;
}

.footer_tabs h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}

.footer_tabs h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: var(--background);
    height: 2px;
    box-sizing: border-box;
    width: 40px;
}

.footer_tabs ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.footer_tabs ul li a {
    line-height: 1.5;
    color: var(--white);
    font-size: 15px;
    transition: all 0.3s ease;
}

.footer_tabs ul li a:hover {
    opacity: 0.5;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.copyright {
    font-size: 15px;
    width: 100%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 25px 12px;
}

.footer_tabs .socialMedia_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 35px;
    color: var(--white);
}

.footer_tabs .socialMedia_container .cont:hover {
    font-size: 30px;
    opacity: 0.5;
    cursor: pointer;
}


/* MEDIA QUERY ON DIFFERENT DEVICES */
@media screen and (max-width:992px) {
    /* MENU NAVBAR */
    nav {
        position: fixed;
        z-index: 1111;
    }

    nav ul {
        float: none;
        position: absolute;
        background-color: var(--mainColorReflection);
        width: 500px;
        top: 80px;
        height: 50vh;
        left: -100%;
        overflow: hidden;
        transition: all 1s;
    }

    nav ul li {
        display:block;
        margin: 0;
    }

    nav ul li a {
        color: var(--white);
        display:block;
        padding: 0 20px;
        font-size: 1.8em;
        border-radius: 0;
    }
    
    nav ul li a:hover {
        color: var(--onion);
        background: var(--white);
    }
    nav .fa-bars  {
        display: block;
        font-size: 3em;
    }
    nav .fa-window-close {
        display: none;
    }

    /* PRODUCTS DROPDOWN MENU */
    nav ul div {
        margin:0;
        width: 100%;
    }

    nav ul div .drop {
        font-size: 1.8em;
        color: var(--white);
        padding: 24px 20px;
        text-align: left;
        width: 100%;
    }
    
    nav ul div .drop:hover {
        background-color: var(--white);
        color: var(--onion);
        border-radius: 0;
    }
    
    nav ul div .dropdown_menu {
        display: none;
        position: absolute;
        top:60px;
        min-width: 180px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
        background-color: var(--onion);
        z-index: 0;
        overflow: hidden;
        /* left: -800%; */
        transition: all 1s;
    }

    nav ul div .dropdown_menu a {
        font-size: 2em;
    }

    nav ul div:hover .dropdown_menu{
        left: 0px;
        display: block;
    }

    .mainContainer {
        grid-template-columns: repeat(3, 1fr);
        width: 700px;
    }

    .card {
        max-width: 300px;
    }
} 
    /* FOOTER RESPONSIVENESS */
    

@media screen and (max-width:768px) {

    .mainContainer {
        grid-template-columns: repeat(2, 1fr);
        width: 600px;
    }

    .card {
        width: 300px;
    } 
}
