@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,800;1,500&display=swap');

*{
    margin: 0;
    user-select: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}
:root{
    --white:#fff;
    --onion: purple;
    --blue:rgb(33, 0, 221);
    --black:black;
    --box-shadow: 6px 2px 8px rgb(8, 4, 4);
    --background:rgba(219, 170, 170, 0.6);
    --background_page: rgb(122, 112, 123);
    --general_btn:rgb(88, 20, 88);
    --overCard:rgba(7, 6, 6, 0.5);
    --mainColor:#34495e;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.background{
    background:rgba(7, 3, 3, 0.808);
}
.header{
    width: 100%;
    height: 35vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    padding: 2rem 0;
    background-color:var(--background);
    box-shadow: var(--box-shadow);
}

.navbar {
    display: flex;
    justify-content:space-around;
    align-items:center;
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    align-items: flex-start;
} 
/**********MENU STYLING**********/
.menuBox {
    display: flex;
    justify-content: center;
}

.dropdown  {
   padding: 20px 40px;
   display: flex;
   width: 200px;
   justify-content: center;
   align-items: center;
   color: white;
   background: var(--mainColor);
   position: relative;
   font-size: 18px;
   perspective: 1000px;
   z-index: 100;
}

.dropdown:hover {
    background: #2980b9;
    cursor: pointer;
}

.dropdown:hover .dropdown_menu a {
    display: block;
}

.dropdown_menu {
    position: absolute;
    top:100%;
    width: 100%;
    padding:0;
    opacity:1;
}

.list {
    display:none;
    color:white;
    background-color:var(--mainColor);
    padding: 10px;
    font-size: 16px;
   }

li:hover{
    background-color:#2980b9;
}

.dropdown .list {
    border: 0.5px var(--white) solid;
}

.dropdown .list:hover {
    background-color:#2980b9;
}



/*  Menu as a whole animated */
.dropdown:hover .dropdown_menu--animated{
    display: block;
}
.dropdown_menu--animated {
    display: none;
}
    
li {
    display: block;
    opacity: 1;
}

.dropdown_menu-6 {
    animation:flapOut 500ms ease-in-out forwards;
    transform-origin: top center;
    -webkit-animation:flapOut 500ms ease-in-out forwards;
}

@keyframes flapOut {
    0% {
        transform: rotateX(-90deg);
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
        -o-transform: rotateX(-90deg);
    }
    70% {
        transform: rotateX(20deg);
        -webkit-transform: rotateX(20deg) ;
        -moz-transform: rotateX(20deg) ;
        -ms-transform: rotateX(20deg) ;
        -o-transform: rotateX(20deg) ;
    }
    100% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
    }
}

.icon div{
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
    margin: 0 .5rem;
    border-radius:5px;
    display:flex ;
    background: rgba(243, 241, 241, 0.5);
    color:var(--white);
    font-size: 2rem;
    text-align: center;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.icon div:hover{
    background: var(--onion);
    color: var(--white);
    cursor: pointer;
}

.icon #menu-btn{
    display: block;
}
.icon #close {
    display: none;
}

input[type=text] {
    width: 80px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px;
    color: var(--mainColor);
    background-image: url(image/search.jpg);
    background-position: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -o-border-radius: 1rem;
    -ms-border-radius: 1rem;
    transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -ms-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
}

input[type=text]:focus{
   outline:1px solid var(--mainColor);
   width:380px;
}



.search-form label:hover{
    cursor: pointer;
}


/******Scrolling Image on Homepage******/
.Scroll-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:2rem 4rem ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ScrollTab:hover {
    border: 1px solid var(--mainColor);
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}

.ScrollTab .lableIn {
    width: 150px;
    font-size: 18px;
    text-align: center;
}

#card{
    position: relative;
    overflow: hidden;
    margin:10px;
    width: 200px;
    /* width: min(700px, 90%, 220px);
    height: max(300px, 90%, 40vh); */
    border-radius: 8px 8px 6px 6px;
    box-shadow: var(--box-shadow);
    -webkit-border-radius: 8px 8px 6px 6px;
    -ms-border-radius: 8px 8px 6px 6px;
    -o-border-radius: 8px 8px 6px 6px;
    background-color: #fff;
    -moz-border-radius: 8px 8px 6px 6px;
}
.Scroll-container #card .shop-image{
    width: 100%;
}

/***************Home page image Info****************/
.Scroll-container .info {
    position:absolute;
    bottom:0;
    left: -90%;
    width:100%;
    height: 100%;
    display: grid;
    align-items: flex-end;
    background-color:var(--overCard);
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
}

#card:hover .info {
    left:0;
}

.info i {
    font-size: 15px;
    padding-left: 92%;
    padding-top: 35px;
    animation:moveOn 5s infinite;
    -webkit-animation:moveOn 1s infinite;
}

@keyframes moveOn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.Scroll-container #card .clear{
    float: left;
    margin: 5px 5px 5px 8px;
    font-size: 15px;
    color: var(--black);
    font-weight: bolder;
    padding-bottom: 5px;
}
.Scroll-container #card .image-setting {
    border-radius: 8px 8px 0 0;
    height: 200px;
    width: 100%;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
}

/* Index page Layout */
.rowOffIn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}
.main {
    flex: 70%;
    /* margin: 2rem 4rem; */
}

.sideOffIn {
    display: flex;
    flex-wrap: wrap;
    flex: 20%;
    /* margin: 2rem; */
    display: flex;
    gap: 10px;
}

/* Other pages layout */
.rowOff {
    display: flex;
    flex-wrap: wrap;
}
.mainOff {
    flex:55%;
}

.sideOff {
    flex: 15%;
    margin:0 4rem;   
}
.bestPrice {
    margin: 15px 10px;
    padding:15px;
    background-color: var(--mainColor);
    color: var(--white);
    width: 100%;
    line-height: 3;
    font-size: 18px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.bestPrice:hover {
    box-shadow: 4px 1.5px 4px 1.5px rgb(212, 212, 212);
}

.phoneCall {
    width: 180px;
    color: white;
    border: 0.5px var( --white) solid;
    border-radius: 4px;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.phoneCall:hover {
    
    background-color: rgb(21, 21, 24);
}
.media {
    margin: 15px 10px;
    padding:15px;
    background-color: var(--mainColor);
    width: 100%;
    font-size: 18px;
    border-radius: 6px;
}

.address {
    margin: 15px 10px;
    padding:15px;
    background-color: var(--mainColor);
    color: var(--white);
    width: 100%;
    line-height: 1.5;
    font-size: 18px;
    border-radius: 6px;
}
.address div i {
    margin: 0 8px 8px 0;
}
.copyright {
    font-size: 15px;
    width: 100%;
    margin-bottom: 0;
    margin: 15px 10px;
    padding:15px;
    background-color: var(--mainColor);
    color: var(--white);
    border-radius: 6px;
}

.cont {
    margin: 10px 0;
    font-size: 18px;
    color: var(--white);
    opacity: .6;
}
.cont:hover {
   opacity: 1;
   font-weight: bolder;
}
.cont i {
    margin: 10px;
}

/*About page*/
.about-site{
    color: aliceblue;
}

/*contacts page*/
.row:after {
    content:"";
    display: table;
    clear: both;
}

.column{
    float: left;
    margin-bottom: 16px;
}

.side {
    width:20%;
    background-color: crimson;
}

.middle {
    width: 60%;
}
/* .shop-image{
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
} */
.person{
    display:inline-block;
}
.personprofile {
    text-align: center;
    padding: 15px;
}
.About-card{
    width:90%;
    height: 50%;
    padding: 20px;
    background:var(--background2);
    margin:35px 15px;
    border-radius:10px;
}
ul{
    line-height:1.5;
    padding-left:10px;
}
.person-card{
    width: 350px;
    display:inline-block;
    background-color: aliceblue;
    margin: 35px 15px;
    border-radius:10px;
}
.fad{
    color: black;
}

/*responsiveness for header items*/
@media (max-width: 700px) {

    .rowOffIn {
        display: flex;
        flex-wrap: wrap;
        width:100%;
        padding:0 20px;
        align-content: center;
        margin: 0 10px;
    }

    .sideOffIn {
        gap: 0;
    }

    html{
        font-size: 55%;
    }
    .Scroll-container:hover {
        border: none;
    }

    .icon #menu-btn{
        display: block;

    }


    .menuBox {
        display:none;
    }
    .navbar .menuBox > a{
        margin: 2rem 2.5rem;
        display: block;
    }
    .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        background: var(--background_page);
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
    }    
}